# In-Class Assignment 2
## Will Brown

In [175]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Import Data

In [176]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Chapter9_Unsupervised/newhousing.csv")

In [177]:
dataset.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished,areaperbedroom,bbratio
0,5250000,5500,3,2,1,1,0,1,0,0,0,0,1,0,1833.333333,0.666667
1,4480000,4040,3,1,2,1,0,0,0,0,1,0,1,0,1346.666667,0.333333
2,3570000,3640,2,1,1,1,0,0,0,0,0,0,0,1,1820.000000,0.500000
3,2870000,3040,2,1,1,0,0,0,0,0,0,0,0,1,1520.000000,0.500000
4,3570000,4500,2,1,1,0,0,0,0,0,0,0,0,0,2250.000000,0.500000

In [178]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
 12  semi-furnished   545 non-null    int64
 13  unfurnished      545 non-null    int64
 14  areaperbedroom   545 non-null    float64
 15  bbratio          545 non-null    float64
dtypes: float64(2), int64(14)
memory usage: 68.2 KB

## Select X and y

In [179]:
X = dataset.drop('price', axis = 1)
y = dataset[['price']]

## Split data

In [180]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=49)

## Linear Regression

In [181]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train, y_train)
lin_reg_score = lin_reg.score(X_test, y_test)
lin_reg_score

0.7541699439609372

## Random Forest

In [182]:
from sklearn.ensemble import RandomForestRegressor
rand_forest = RandomForestRegressor(n_estimators=500, random_state=49)
rand_forest.fit(X_train, y_train)
rand_forest_score = rand_forest.score(X_test, y_test)
rand_forest_score

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

0.7169143979923425

## Scale data for PCA

In [183]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_scaled = sc_x.fit_transform(X)
sc_y = StandardScaler()
y_scaled = sc_y.fit_transform(y)

## Prep PCA

In [184]:
from sklearn.decomposition import PCA
pca = PCA(n_components=10)
x_pca = pca.fit_transform(X_scaled)

## Resplit data

In [185]:
X_train, X_test, y_train, y_test = train_test_split(x_pca, y, test_size=0.2, random_state=49)

## Linear Regression with PCA

In [186]:
lin_reg_pca = LinearRegression()
lin_reg_pca.fit(X_train, y_train)
lin_reg_pca_score = lin_reg_pca.score(X_test, y_test)
lin_reg_pca_score

0.7497908331611398

## Random Forest with PCA

In [187]:
rand_forest_pca = RandomForestRegressor(random_state=49, n_estimators=500)
rand_forest_pca.fit(X_train, y_train)
rand_forest_pca_score = rand_forest_pca.score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

## Results

In [189]:
from prettytable import PrettyTable
table = PrettyTable(["Techniques", "Score"])
table.add_rows([
    ["Linear Regression", lin_reg_score],
    ["Random Forest", rand_forest_score],
    ["Linear Regression with PCA", lin_reg_pca_score],
    ["Random Forest with PCA", rand_forest_pca_score]
])

print(table)

+----------------------------+--------------------+
|         Techniques         |       Score        |
+----------------------------+--------------------+
|     Linear Regression      | 0.7541699439609372 |
|       Random Forest        | 0.7169143979923425 |
| Linear Regression with PCA | 0.7497908331611398 |
|   Random Forest with PCA   | 0.7671753634383477 |
+----------------------------+--------------------+

Best score: Random Forest with PCA